---
title: 'Blades Landscaping'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
                         
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1467">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">The very best lawn services in Indianapolis</h1>
            <p class="cs-text">
                We are a full-service landscaping company that believes in providing high-quality workmanship and excellent customer service. We are committed to making sure that your lawn looks its best all year round! 
            </p>
            <a href="" class="cs-button-solid">Call Us Now</a>
            <div class="cs-reviews" aria-hidden="true">
                <div class="cs-reviews-flex">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile1.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile2.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile3.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile4.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile5.png" alt="icon" width="48" height="48">
                   
                </div>
            </div>
            <div class="cs-stars">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
            </div>
            <p class="cs-desc">
                Blades is rated 4.9/5 based on 359 reviews.
            </p>
        </div>
        <div class="cs-right">
            <span class="cs-tag">
                Online Special
                <span class="cs-dot" aria-hidden="true"></span>
            </span>
            <div class="cs-flex">
                <h3 class="cs-h3">Get 10% OFF Your First Service Booking Today!</h3>
                <span class="cs-expires">*Offer Expires April 16th</span>
                <p class="cs-form-text">
                    Request a free* No-Obligation quote & expert advice from our expert team!
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1467" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1467" name="name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="tel" id="phone-1467" name="phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="email" id="email-1467" name="email">
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" required type="text" id="hear-1467" name="heat">
                </label>

                
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1467"></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Get Estimate</button>
            </form>
            <p class="cs-disclaimer">
                <img class="cs-disclaimer-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lock.svg" alt="icon" width="20" height="20">
                *Free estimates for homeowners only. 
            </p>
        </div>
    </div>

    <!-- Background Image, added in CSS as a backgorund image for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/blades/daniel-watson-8vBpYpTGo90-unsplash%20(1).webp">
        <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/blades/daniel-watson-8vBpYpTGo90-unsplash%20(1).webp">
        <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/blades/daniel-watson-8vBpYpTGo90-unsplash%20(1).webp" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-889">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">How It Works</h2>
            <p class="cs-text">
                We're taking a high-tech approach to a traditionally low tech sector, and are revolutionizing the lawn care industry.<br> Here is how we're doing it.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://root-design.nyc3.digitaloceanspaces.com/blades/contract_12835755.png" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Get a quote</h3>
                <p class="cs-item-p">
                    Let us know what services you need help with, and we'll send you a quote.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://root-design.nyc3.digitaloceanspaces.com/blades/lawnmower_7168226.png" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Receive Service</h3>
                <p class="cs-item-p">
                    We'll schedule a time to come out and perform the service. We'll make sure the job is done right before we leave.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://root-design.nyc3.digitaloceanspaces.com/blades/sunbed_527163.png" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">You're Done</h3>
                <p class="cs-item-p">
                    Easily manage everything from your phone or computer. Payment is all done online, no need to leave a check under the mat! Easily book your next service with a few clicks. 
                </p>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Get An Estimate</a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-412">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">About Blades</h2>
            <p class="cs-text">
                Looking for the top rated Indianapolis lawn care services? Blades Landscaping and Lawn Care is your solution for keeping your lawn beautiful year round. We provide the highest quality lawn care and landscaping services in Indianapolis. Our team of lawn care professionals are ready to transform your lawn into the envy of the neighborhood. 
            </p>
            <p class="cs-text">
                We're locally owned and operated, and have been providing lawn care services in Indianapolis for over 10 years. We're a full-service lawn care company, and can handle any job, big or small. We're fully licensed and insured. We guarantee your satisfaction and we won't leave your property until the job is done right. 
            </p>
            <a href="" class="cs-button-solid">More About Us</a>
        </div>
        <div class="cs-image-group">
            <!--Top Left Image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg" alt="backyard" width="229" height="352">
            </picture>
            <!--Top Right Image-->
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping2.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg" alt="backyard" width="390" height="352">
            </picture>
            <!--Bottom Image-->
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg" alt="backyard" width="649" height="227">
            </picture>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-981">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Many of Your Neighbors</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="https://root-design.nyc3.digitaloceanspaces.com/blades/portrait-man-laughing%20(1).jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                       James B.
                        <span class="cs-job">Fletcher Place</span>
                    </span>
                </div>
                <p class="cs-review">
                 I was shocked at how easy the process was! I needed my lawn mowed and edged, and they were able to come out the next day. I was able to pay online, and they did a great job. I'll definitely be using them again. 
                </p>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Carol S.
                        <span class="cs-job">Carmel</span>
                    </span>
                </div>
                <p class="cs-review">
                    I needed a fresh look for my front yard, and Blades was able to help me out. They were able to give me a quote the same day I called, and were able to finish the job before my weekend party. They were very professional and did fantastic work.
                </p>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="https://root-design.nyc3.digitaloceanspaces.com/blades/portrait-woman-with-curly-hair%20(1).jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Sophie L. 
                        <span class="cs-job">Greenwood</span>
                    </span>
                </div>
                <p class="cs-review">
                    I needed someone to help mow our lawn while we were out of town. Blades was able to schedule our services for the day we left, and we were able to pay online. We came back to a freshly mowed lawn, and they even sent us a picture of the finished job. Highly recommended! 
                </p>
            </li>
        </ul>
    </div>
</section>
                                


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-368">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">What's Included?</h2>
            <p class="cs-text">
                At Blades Landscaping & Lawn Care we offer a wide range of services to keep your lawn looking its best. We offer everything from lawn mowing to full landscape design. We're a full-service lawn care company, and can handle any job, big or small. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/blades/lawn-mower.png" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Lawn Mowing</h3>
                    <p class="cs-item-text">
                        Proper mowing doesn't only give your lawn a clean look, it also helps keep it healthy. We'll make sure your lawn is mowed to the proper height and frequency to keep it looking its best.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/blades/seed.png" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Seeding & Fertilization</h3>
                    <p class="cs-item-text">
                        Spot treat bare areas or overseed your whole lawn. We can also spread fertilizer to help keep your lawn healthy and green.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/blades/pesticide.png" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Weed & Pest Control</h3>
                    <p class="cs-item-text">
                      We can keep weeds and bugs from taking over your lawn. We offer family-friendly treatments to keep your lawn healthy and pest-free.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/blades/roller.png" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Aeration</h3>
                    <p class="cs-item-text">
                        Puncturing the soild with small holes in order to let water, air, and nutrients penetrate the grass roots. This helps the roots grow deeply and produce a stronger, more vigorous lawn.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/blades/gloves.png" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Snow Removal</h3>
                    <p class="cs-item-text">
                       We can remove snow from your driveway and walkways. We'll make sure your property is safe and accessible. We can also spread salt to help prevent ice from forming.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/blades/raking.png" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Gutter Cleaning</h3>
                    <p class="cs-item-text">
                        Cleaning out leaves and debris from your gutters is an important part of maintaining your home. We'll make sure your gutters are clean and funtioning properly.
                    </p>
                </a>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Contact Us</a>
    </div>
</section>
                                
<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-419">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Features</span>
            <h2 class="cs-title">Professional Landscaping Services</h2>
            <!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->

<ul id="list-1404">
    <li class="cs-item">
        <h3 class="cs-h3">
            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
            Yard Cleanup
        </h3>
        <p class="cs-item-text">
           We can remove outdoor debris, leaves, and branches. We also trim hedges and bushes.
        </p>
    </li>
    <li class="cs-item">
        <h3 class="cs-h3">
            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
            Gardening
        </h3>
        <p class="cs-item-text">
            We can help you plant flowers, shrubs, and trees. We also offer design services.
        </p>
    </li>
</ul>
                                
            <p class="cs-text">
                In addition to our lawn care services, we also offer full-service landscaping services. We can help you design and install a new landscape, or we can help you maintain your existing landscape. We can also help you with hardscaping projects such as patios, walkways, and retaining walls.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid">Learn More</a>
                <a href="" class="cs-button-transparent">Get In Touch</a>
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard.jpg" alt="yard" width="558" height="496">
            </picture>
            <!--Info Box-->
            <div class="cs-info">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/tree.svg" alt="icon" width="48" height="48">
                <div class="cs-flex">
                    <span class="cs-header">Full Remodel</span>
                    <span class="cs-desc">Sod, plants, driveway, hedges</span>
                </div>
            </div>
            <!--Svg Green Trapezpid-->
            <img class="cs-trapezoid" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/trapezoid.svg" alt="yard" width="558" height="496">
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section id="cs-contact-485">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Talk to us about your <span class="cs-color">lawn needs!</span></h2>
            <p class="cs-text">
                We would love to hear about your project and discuss how we can help. Please fill the form on the right side to schedule a call or discussion and meeting on the your convenient time.
            </p>
            <span class="cs-heading">Need to talk to a person?</span>
            <!-- <span class="cs-heading">You can contact us on :</span> -->
            <a href="tel:219-555-4545" class="cs-link">(317) 123-4567</a>
            <a href="mailto:info@codestitch.com" class="cs-link">info@bladeslandscaping.com</a>
        </div>
        <!--Form-->
        <form id="cs-form-485" name="Contact Form" method="post">
            <h3 class="cs-h3">Schedule Consult</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-485" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-485" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-485" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                How Did You Find Us
                <input class="cs-input" type="text" id="find-485" name="find-us" placeholder="How did you find us?">
            </label>
            <label class="cs-label cs-label-message">
                What do you need help with?
                <select name="cars" id="cs-select-485">
                    <option value="full renovation">Lawn Mowing</option>
                    <option value="sod install">Services & Treatments</option>
                    <option value="yard cleanup">Yard Cleanup</option>
                    <option value="landscape design">Landscape Design</option>
                </select>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Book a Consult</button>
        </form>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/house.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/house.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/house.jpg" alt="house" width="1920" height="1200">
    </picture>
</section>
                                

                                
                        

    {% include 'components/cta.html' %}
{% endblock %}