---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
                         
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1467">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Get Clean Energy With A Solar Panel Installation</h1>
            <p class="cs-text">
                We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies.
            </p>
            <a href="" class="cs-button-solid">Call Us Now</a>
            <div class="cs-reviews" aria-hidden="true">
                <div class="cs-reviews-flex">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile1.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile2.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile3.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile4.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile5.png" alt="icon" width="48" height="48">
                    <span class="cs-reviews-number">+4k</span>
                </div>
            </div>
            <div class="cs-stars">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
                <img class="cs-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg" alt="icon" width="16" height="16">
            </div>
            <p class="cs-desc">
                Stitch Energy rated 4.9/5 based on 359 reviews.
            </p>
        </div>
        <div class="cs-right">
            <span class="cs-tag">
                Online Special
                <span class="cs-dot" aria-hidden="true"></span>
            </span>
            <div class="cs-flex">
                <h3 class="cs-h3">Get an Extra 5% OFF Your First Order Today</h3>
                <span class="cs-expires">*Offer Expires April 16th</span>
                <p class="cs-form-text">
                    Request a free* No-Obligation quote & expert advice from our expert team!
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1467" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1467" name="name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="tel" id="phone-1467" name="phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="email" id="email-1467" name="email">
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" required type="text" id="hear-1467" name="heat">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1467"></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Get Estimate</button>
            </form>
            <p class="cs-disclaimer">
                <img class="cs-disclaimer-icon" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lock.svg" alt="icon" width="20" height="20">
                *Free estimates for homeowners only. Real estate evaluations are billable.
            </p>
        </div>
    </div>

    <!-- Background Image, added in CSS as a backgorund image for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-889">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">How It Works</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Contact Us</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Initial Evaluation</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Develop a Plan</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All Projects</a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-412">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">About Our Company</h2>
            <p class="cs-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita provident consequuntur, asperiores nisi ut fugiat harum quo inventore, molestias vero cumque dolorum eligendi odio neque illo dolores tempore natus non sit nostrum nam sint. Amet maxime vel inventore culpa soluta?
            </p>
            <a href="" class="cs-button-solid">More About Us</a>
        </div>
        <div class="cs-image-group">
            <!--Top Left Image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg" alt="backyard" width="229" height="352">
            </picture>
            <!--Top Right Image-->
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping2.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg" alt="backyard" width="390" height="352">
            </picture>
            <!--Bottom Image-->
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg" alt="backyard" width="649" height="227">
            </picture>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-981">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        George Thomas
                        <span class="cs-job">Founder Of Yokoloko</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo. 
                </p>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        Mason James
                        <span class="cs-job">Senior Gardener Farmer</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture" aria-hidden="true">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50">
                    </picture>
                    <span class="cs-name">
                        George Thomas
                        <span class="cs-job">Founder Of Yokoloko</span>
                    </span>
                </div>
                <p class="cs-review">
                    Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo
                </p>
            </li>
        </ul>
    </div>
</section>
                                


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-368">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Provide Worldwide Service For Good Customers</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/kitchen-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Kitchen Cleaning</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/rug-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Carpet Cleaning</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/house-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">House Cleaning</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/kitchen-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Kitchen Cleaning</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/rug-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Carpet Cleaning</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/house-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">House Cleaning</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Contact Us</a>
    </div>
</section>
                                
<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-419">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Features</span>
            <h2 class="cs-title">Professional Landscaping Services</h2>
            <!--                   
    These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
-->

<ul id="list-1404">
    <li class="cs-item">
        <h3 class="cs-h3">
            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
            Quality Services
        </h3>
        <p class="cs-item-text">
            There are many variations of but the majority is simply free suffered.
        </p>
    </li>
    <li class="cs-item">
        <h3 class="cs-h3">
            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
            Quality Services
        </h3>
        <p class="cs-item-text">
            There are many variations of but the majority is simply free suffered.
        </p>
    </li>
</ul>
                                
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid">Learn More</a>
                <a href="" class="cs-button-transparent">Get In Touch</a>
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard.jpg" alt="yard" width="558" height="496">
            </picture>
            <!--Info Box-->
            <div class="cs-info">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/tree.svg" alt="icon" width="48" height="48">
                <div class="cs-flex">
                    <span class="cs-header">Full Remodel</span>
                    <span class="cs-desc">Sod, plants, driveway, hedges</span>
                </div>
            </div>
            <!--Svg Green Trapezpid-->
            <img class="cs-trapezoid" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/trapezoid.svg" alt="yard" width="558" height="496">
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section id="cs-contact-485">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Talk to us about your <span class="cs-color">garden plan!</span></h2>
            <p class="cs-text">
                We would love to hear about your project and discuss how we can help. Please fill the form on the right side to schedule a call or discussion and meeting on the your convenient time.
            </p>
            <span class="cs-heading">Any problem about your booking?</span>
            <span class="cs-heading">You can contact us on :</span>
            <a href="tel:219-555-4545" class="cs-link">(219) 555-4545</a>
            <a href="mailto:info@codestitch.com" class="cs-link">info@codestitch.com</a>
        </div>
        <!--Form-->
        <form id="cs-form-485" name="Contact Form" method="post">
            <h3 class="cs-h3">Schedule Consult</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-485" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-485" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-485" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                How Did You Find Us
                <input class="cs-input" type="text" id="find-485" name="find-us" placeholder="How did you find us?">
            </label>
            <label class="cs-label cs-label-message">
                What do you need help with?
                <select name="cars" id="cs-select-485">
                    <option value="full renovation">Full Renovation</option>
                    <option value="sod install">Sod Install</option>
                    <option value="yard cleanup">Yard Cleanup</option>
                    <option value="landscape design">Landscape Design</option>
                </select>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Book a Consult</button>
        </form>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/house.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/house.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/house.jpg" alt="house" width="1920" height="1200">
    </picture>
</section>
                                

                                
                        

    {% include 'components/cta.html' %}
{% endblock %}